# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.101Unity.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kubil\Desktop\Files\GameDevelopment\101Unity\.idea\.idea.101Unity\.idea/dataSources/
/dataSources.local.xml
